/* You can add global styles to this file, and also import other style files*/
.gallery {
  display: flex;
   /* grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));  */
  gap: 16px;
  padding: 16px;
}


.example-card {
  max-width: 400px;
  margin-bottom: 8px;
}

.mat-mdc-card {
  background-color: #fff !important; /* רקע לבן */
  color: black;
}