/* You can add global styles to this file, and also import other style files*/
.galery {
  display: flex !important;
   /* grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));  */
  gap: 16px;
  padding: 16px;
  justify-content: space-evenly;
  flex-wrap: wrap;
  border: 2px black solid;
  border-radius: 10px;
}


.example-card {
  max-width: 400px;
  margin-bottom: 8px;
}

.mat-mdc-card {
  background-color: #fff !important; /* רקע לבן */
  color: black;
}
body{
  direction: rtl;
  /* align-items: center; */
 
}
mat-card-header{
  margin-bottom: 8px;
  font-weight: bold;
}
#nameTitle{
  font-weight: bolder;
   text-align: center;
}
.highlight {
  background-color: #ffeeba !important; /* רקע מודגש לציון התחלה */
  border: 2px solid #f0ad4e !important;
}
/* table{
  direction: rtl !important;
} */
 .details-button {
  background-color: #4c98af;
  color: white;
  border: none;
  padding: 4px 10px;
  border-radius: 5px;
  cursor: pointer;
}
.details-button:hover {
  background-color: #456fa0;
}
